@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.main{
    width: 100%;
    height: 100vh;
    background: url('./Assets/backgroundImg.webp') center center;
    background-size: cover;
}   
.overlay {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.title {
    color: #ffffff;
    font-size: 2.5em;
    margin-top: 10px;
    text-align: center;
}
.col{
    margin-top: 20px;
    width: 90%;
    display: flex;
    justify-content: center;
    color: #ffffff;
}
.col div{
    width: 250px;
    text-align: center;
}
input{
    width: 50%;
    height: 50px;
    display: block;
    background-color: rgba(255,255,255,0.9);
    border-color: transparent;
    border-radius: 5px;
    text-align: center;
    font-size: 30px;
}

label{
    margin-right: 125px;
    font-size: 2.5em;
}

.footer{
    color: #ffffff;
    margin-top: 15rem;
}